body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    text-align: center;
    margin-top: 50px;
}
a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}
ul {
    list-style-type: none;
    padding: 0;
    color: red;
}
